<div class="fullscreen-black-background" style="overflow-y: auto;">
  <h2 class="text-center">About Us</h2>
  <div style="width: 80%; margin: auto;">
    <h3>Who I Am</h3>
    <p>Hello! I'm Lokesh, a dedicated full-stack developer with a passion for building robust and innovative web
      applications. Based in Chennai, I thrive on tackling complex problems and delivering elegant solutions
      that push the boundaries of what's possible in technology.</p>
    <h3>My Journey</h3>
    <p>My journey into the world of programming began. Since then, I've immersed
      myself in learning various programming languages, frameworks, and tools, constantly expanding my skill set to stay
      ahead in this ever-evolving field. Each project I undertake is an opportunity for growth, and I approach it with
      enthusiasm and a hunger for knowledge.</p>
    <h3>What I Do</h3>
    <p>As a full-stack developer, I'm proficient in both front-end and back-end technologies. On the front end, I
      specialize in crafting engaging user interfaces using HTML, CSS, and JavaScript, with a focus on responsive design
      and optimal user experience. On the back end, I architect scalable and efficient systems using [ASP.NET core Web Api , MongoDB Database ,SQL], ensuring seamless data management and high performance.</p>
    <h3>My Mission</h3>
    <p>My mission is to leverage technology to solve real-world problems and make a positive impact on people's lives. I
      believe in the power of code to transform ideas into reality, and I'm committed to creating solutions that are not
      just functional but also elegant and intuitive. Whether it's streamlining business processes, enhancing user
      productivity, or building platforms for collaboration, I'm driven by the desire to create meaningful change
      through technology.</p>
    <h3>Let's Connect</h3>
    <p>I'm always excited to collaborate on new projects and connect with fellow developers, designers, and innovators.
      Whether you're a startup looking to bring your vision to life, a business in need of technical expertise, or a
      fellow enthusiast eager to discuss the latest trends in technology, I'm here to help. Let's connect and embark on
      a journey of creativity, innovation, and growth together!</p>
  </div>
</div>
