<nav class="navbar navbar-expand-lg" style="background-color: d9dfe0;color: black;">
    <div class="container-fluid">
       
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav" style="position: relative;width: 80%;">
                <li class="nav-item">
                    <a class="nav-link active" routerLink="HomePage" aria-current="page">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="AboutPage">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="ContactPage">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="ResumePage">Resume</a>
                </li>
            </ul>
        </div>
        <ul class="navbar-nav ml-auto"> <!-- Added ml-auto class -->
    <li>
        <a class="navbar-brand" style="font-family: auto;cursor: pointer;">Lokesh MS</a>
    </li>
        <li>
            
            <a href="https://github.com/lokesh-MS" class="nav-link">
                <i class="fa-brands fa-github"></i>
            </a>
        </li>      

       
      
        </ul>
    </div>
</nav>
