<div class="container-fluid fullscreen-black-background" style="width: 100%; display: flex;">

    <div class="summary" >
        <div id="details" >
            <span style="display: block; font-size: 20px; color: gray; font-family: auto;">WELCOME TO MY WORLD</span>
            <span style="font-size: 18px;">Hello, I'm </span>
            <span style="font-size: 41px; font-family: auto; color: #23bc9d;">Lokesh M</span>
            <p>Full Stack Developer</p>
            <a routerLink="/ContactPage" style="color: #ea285b;">Contact Me</a>
        </div>
    </div>

    <div class="imgDiv" style="position: relative;">
        <div class="insideImgDiv" >
            <img src="/assets/images/Lokesh2.png" alt="lokesh">
        </div>
    </div>

</div>

<div class="social-media-bottom">
    <ul class="wrapper" style="display: flex; list-style: none;">
        <li class="icon facebook">
            <span class="tooltip">Facebook</span>
            <span><i class="fab fa-facebook-f"></i></span>
        </li>
  
        <li  class="icon instagram">
            <a id="instagram" href="https://www.instagram.com/lo_july_25?utm_source=qr&igsh=bno4dWpqc2Y1ZmN2">
                <span class="tooltip">Instagram</span>
                <span><i class="fab fa-instagram"></i></span>
            </a>
       
        </li>

        <li class="icon github">
            <a id="github" href="https://github.com/lokesh-MS">

                <span class="tooltip">Github</span>
                <span><i class="fab fa-github"></i></span>
            </a>
          
        </li>
        <li class="icon youtube">
            <a id="youtube" href="https://youtube.com/@lionicon6000?si=SpmT-R9kT7rUP-R8">
                <span class="tooltip">Youtube</span>
                <span><i class="fab fa-youtube"></i></span>
            </a>
           
        </li>
    </ul>
</div>
