main.resume {

 
        /* position: fixed; */
        width: 100%;
        height: 100%;
        background-color: #e7ebee;
  
}

.resume-header {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.profile-picture {
    width: 165px;
    height: 165px;
    border-radius: 50%;
    margin-right: 20px;
    background-color: #d9dfe0;
}

.header-details {
    flex: 1;
}

.header-details h1 {
    margin-bottom: 5px;
}

.header-details p {
    margin: 0 0 5px 0;
    color: #777;
}

.resume-summary,
.resume-experience,
.resume-education,
.resume-skills {
    margin-bottom: 30px;
}

.resume-summary h2,
.resume-experience h2,
.resume-education h2,
.resume-skills h2 {
    margin-bottom: 15px;
}

.resume-experience ul,
.resume-education ul,
.resume-skills ul {
    padding-left: 0;
}

.resume-experience li,
.resume-education li,
.resume-skills li {
    margin-bottom: 10px;
}

.resume-experience h3,
.resume-education h3 {
    margin-bottom: 5px;
    color: #26a5ffad;
    font-size: 25px;
    font-family: emoji;
}

.resume-experience p,
.resume-education p {
    margin-bottom: 10px;
    color: #777;
}

.resume-skills ul {
    display: flex;
    flex-wrap: wrap;
}

.resume-skills li {
    margin-right: 20px;
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
}

footer {
    background-color: #343a40;
    color: #fff;
    padding: 10px;
    text-align: center;
}
h2{
    color: #72a2c7;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.resume-education .education-item {
    display: flex;
    justify-content: space-between;
}

.resume-education .college-column,
.resume-education .hsc-column,
.resume-education .sslc-column {
    flex: 1;
}

.resume-education h3,
.resume-education p {
    margin: 0;
}
